/* Reset some default browser styles */
body {
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
nav {
    background-color: #057b80;
    overflow: hidden;
}

/* Style the list inside the navigation bar */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul.topnav li {
    float: left;
}

/* Style the navigation links */
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
ul.topnav li a:hover {
    background-color: #df0e0e;
    color: black;
}

.herosection{
    display: flex;
    margin-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
}
.welcome{
    margin-left: 40PX;
    
}

button{
    background-color: #4CAF50; /* Green background color */
    color: white;             /* White text color */
    padding: 10px 20px;       /* Padding around the button text */
    border: none;             /* No border */
    border-radius: 5px;       /* Rounded corners */
    cursor: pointer;
}

button:hover{
    background-color: #9acf9c; /* Green background color */
    color: white;             /* White text color */
   
}

button a{
    text-decoration: none;
    color: white;
}